.App {
  color: #222;
  background-image: linear-gradient(180deg, #292643, #41416d);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .botonera {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 8px;
}

.titulo {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #41416d;
}